html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
/*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
    position: relative;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
button,
select {
    display: inline-block;
    padding: 0;
    border: 0;
}
iframe{
    max-width: 100%;
    overflow: hidden;
}
body {
    font-family: Tahoma, sans-serif; /* Имя шрифта */
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #4c4c4c;

}
.d_block {
    display: block;
}
.d_none {
    display: none;
}
.d_bold{
    font-weight: 700;
}
.d_norm{
    font-weight: 400;
}
.d_upper{
    text-transform: uppercase;
}
.container {
    max-width: 1156px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.main-title{
    padding: 30px 0;
    text-align: center;
    font-size: 38px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}
.main-title:before{
    content: ' ';
    width: 115px;
    height: 3px;
    background-color: #e95b0a;
    position: absolute;
    bottom: 12px;
    left: calc(50% - 57.5px);

}
.order-link{
    font-size: 16px;
    color: #fff;
    padding: 6px 22px;
    background: #E95B0A;
    transition: .2s ease;
    border-radius: 6px;
}
.order-link:hover{
    transition: .2s ease;
    opacity: 0.8;
}
.controller{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.controller>img{
    margin: 0 8px;
    cursor: pointer;
}
/*for map*/

.mapouter{text-align:right;height:450px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:100%;}
.close-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    display: none;
}
.d_more{
    color: #8f8f8f;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.d_more:hover{
    text-decoration: none;    
}
